body{
  background: hsl(185, 41%, 84%) !important;
}

.bb{
  border-right: none !important;
  background: hsl(0, 0%, 100%) !important;
}
.white{
  background: hsl(0, 0%, 100%) !important;
}

.whitet{
  color: hsl(0, 0%, 100%) !important;
}
.main{
  border: 1px solid hsl(0, 0%, 100%) !important;
  border-radius: 20px !important;
  max-width: 1100px !important;
}

.person{
  color: hsl(186, 14%, 43%) !important;
}


.tip{
  color:  hsl(172, 67%, 45%) !important;
}

.darkcrayn{
  background: hsl(183, 100%, 15%) !important; 
  border-radius: 10px !important;
}

Button:hover{
  background:  hsl(185, 41%, 84%) !important;
  border-color:  hsl(185, 41%, 84%) !important;
  color: hsl(183, 100%, 15%) !important;
  
}



.lll{
  border-left: none !important;
  background: white !important;
}

.ccc{
  border-left: none !important;
}

.dar{
  background: hsl(183, 100%, 15%) !important;
  border-color: hsl(183, 100%, 15%) !important;
  
}

.custom{
  cursor:pointer !important;
  
}

